<footer class="contato" id="contato">
  <h2 class="contato__title" [@scrollAnimation]="state">For further details</h2>
  <ul class="list" [@scrollAnimation]="state">
    <li class="list__item">
      <a href="https://github.com/raghavamamidi"><i class="fab fa-github fa-3x"></i></a>
    </li>
    <li class="list__item">
      <a href="mailto:raghavamamidi18@gmail.com"><i class="fas fa-envelope fa-3x"></i></a>
    </li>
  </ul>
  <p>Made with  <i class="fas fa-heart"></i>  by Raghava</p>
</footer>
